* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 800px;
    display: flex;
    gap: 200px;
    margin: 100px 0 0 300px;

}

.hero {
    height: 100vh;
    background-image: url('img/angel.jpg');
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-content h1 {
    color: rgb(246, 248, 249);
    font-size: 6rem;
    font-weight: 100;
    font-family: Arial, sans-serif;

}

.content-text {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;

}

.content-text h2 {
    color: #e435af;

}

.container img {
    height: 400px;
    justify-content: center;

}

.content-text a {
    margin-top: 20px;
    text-decoration: none;
    background-color: #ff5d5d;
    width: 100px;
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
}

.footer-content a {
    margin-top: 20px;
    text-decoration: none;
    background-color: #ff5d5d;
    width: 100px;
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
}

.footer-content {
    height: 100vh;
    background-image: url('img/raptis.png');
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 200px;
    font-size: medium;

}

.footer-content h2 {
    color: rgb(246, 248, 249);
    font-size: 6rem;
    font-weight: 80;
    font-family: Arial, sans-serif;

}

.footer-links {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: #f15757;
    color: aliceblue;
    justify-content: space-around;
    padding: 100px;
    text-decoration: none;

}

.footer-columna link {
    color: aliceblue;
    justify-content: center;

}

.container-image {
    height: 200px;
}

footer a {
    text-decoration: none;
    color: #ccc;
    justify-content: left;

}