* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 800px;
    display: flex;
    gap: 50px;
    margin: 20px 0 0 200px ;

}

.hero {
    height: 100vh;
    background-image: url('img/angel.jpg');
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    justify-content: center;
}

.hero-content h1 {
    color: rgb(246, 248, 249);
    font-size: 6rem;
    font-weight: 100;
    /* Estilo del texto*/
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.content-text {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 800px;

}

.container img {
    width: 300px;
    height: 300px;

}

.content-text a {
    text-decoration: none;
    background-color: #FF6666;
    width: 100px;
    color: white;
    padding: 8px;
    border-radius: 8px;
    font-size: 15px;
}