* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    color: #333;
    background-color: white;

}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 40px 50px;

}


.hero {
    height: 100vh;
    background-image: url('img/angel.jpg');
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}


/* texto degradado en el hero*/
.texto {
    font-size: 8rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;

}

.texto span {
    color: #ffffff;

}


.seccion2 .container,
.seccion3 .container {
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;

}

.content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.content-text h2 {
    color: #f45252;
    font-size: 2.8rem;
    margin-bottom: 15px;
    font-weight: 900;
}

.content-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #010101;
}

.container img {
    width: 400px;
    height: 580px;

}


.content-text a {
    text-decoration: none;
    background-color: #f03b56;
    color: white;
    padding: 20px 80px;
    border-radius: 18px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    align-self: flex-start;

}


.footer-content {
    height: 100vh;
    background-image: url('img/raptis.png');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding: 0 20px;
}

.footer-content a {
    text-decoration: none;
    background-color: #fd4a65;
    color: white;
    padding: 15px 80px;
    border-radius: 18px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;

}


.footer-content>div {
    position: relative;
    z-index: 1;
    max-width: 600px;

}

.footer-links {
    display: flex;
    justify-content: center;
    background-color: #f03b56;
    padding: 60px 60px;

}

.footer-columna {
    flex: 1;
    padding: 0 30px;
    text-align: center;

}

.footer-content h2 {
    color: white;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.footer-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #ffffff;

}

.footer-columna h3 {
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 25px;
    font-weight: 600;

}


.footer-columna ul {
    list-style: none;
}

.footer-columna ul li {
    margin-bottom: 15px;
}

.footer-columna ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.9rem;

}

.footer-bottom {
    padding: 20px 60px;
    color: #ffffff;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    background-color: #f03b56;
}